! font settings --------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! EMACS ----------------------------------------------------------------

Emacs.font: -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
! --


! URXVT ----------------------------------------------------------------

! General
urxvt*termName:           rxvt-unicode-256color
urxvt*loginShell:         true
urxvt*scrollBar:         false
urxvt*secondaryScroll:    true
urxvt*saveLines:         65535
urxvt*cursorBlink:       false
!urxvt*cursorUnderline:   true
urxvt*urgentOnBell:       true
!urxvt*override-redirect:false
!urxvt*borderLess:       false
!urxvt*internalBorder:       0
!urxvt*externalBorder:       0
!
! Extensions
urxvt*perl-lib:        /usr/lib/urxvt/perl/
urxvt*perl-ext-common: default,matcher,searchable-scrollback
urxvt*urlLauncher:     /usr/bin/iceweasel
urxvt*matcher.button:  1
! Catch ugly URLs
urxvt*cutchars:        '"'()*<>[]{|}
!
! Appearance
urxvt*font:     -xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
urxvt*boldFont: -xos4-terminus-bold-*-*-*-12-*-*-*-*-*-iso8859-2
!
! Cursor
urxvt*cursorColor: #DCDCCC
! URLs
urxvt*.colorUL:    #ffffff
!
! Pseudo Transparency
!urxvt*shading:    50
!urxvt*transparent:true
! 
! Zenburn color-scheme
urxvt*background:  #3f3f3f
urxvt*foreground:  #dcdccc
! black + red
!urxvt*color0:     #3f3f3f
urxvt*color0:      #1E2320
urxvt*color1:      #705050
! green + yellow
urxvt*color2:      #60b48a
urxvt*color3:      #dfaf8f
! blue + purple
urxvt*color4:      #506070
urxvt*color5:      #dc8cc3
! cyan + white
urxvt*color6:      #8cd0d3
urxvt*color7:      #dcdccc
! bright-black + bright-red
urxvt*color8:      #709080
urxvt*color9:      #dca3a3
! bright-green + bright-yellow
urxvt*color10:     #c3bf9f
urxvt*color11:     #f0dfaf
! bright-blue + bright-purple
urxvt*color12:     #94bff3
urxvt*color13:     #ec93d3
! bright-cyan + bright-white
urxvt*color14:     #93e0e3
urxvt*color15:     #ffffff
! --

! XCLOCK ---------------------------------------------------------------
xclock*update:     1
xclock*Mode:       analog
xclock*Background: #3F3F3F
xclock*Border:     #3F3F3F
xclock*Foreground: #F0DFAF
xclock*geometry:   120x120+1160+15
! --

! XCALC ----------------------------------------------------------------
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
! --
